* {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    text-align: center;
    font-size: x-large;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.button {
    height: 5%;
    width: 15%;
}
